<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="~{layout/layout :: page_head}"></head>
<body>

<nav th:replace="~{layout/layout :: page_navbar}"></nav>

<section class="container">
    <h1 th:text="Bienvenido"></h1>
    <p>
        Pronto se mostrarán las opciones del Sistema!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores ea
        eaque eum explicabo ipsa ipsam magnam nam porro, quisquam saepe sed soluta
        vitae? Distinctio ducimus id illum ipsa quam? lorem Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Adipisci atque distinctio dolor dolorem impedit!
        Blanditiis dolor ea et explicabo facilis, inventore laboriosam necessitatibus
        ratione? Aut facilis id quaerat quidem vel? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Alias commodi, cupiditate deleniti distinctio
        dolorem, eius facere fugiat ipsam iusto molestiae nihil nostrum quam quos?
        Dolore magnam nesciunt similique tenetur vel. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Autem culpa deleniti dicta impedit, ipsum laborum
        maiores nam neque provident vero? Dolores in maiores quidem. Consectetur
        consequuntur deserunt dolor necessitatibus quas! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Alias, animi autem consectetur eligendi et
        facilis fugit in itaque iusto magni obcaecati quo voluptas voluptatum. Maiores
        non nostrum porro quisquam tempore! Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Accusamus, aut blanditiis dolor doloremque doloribus ducimus
        eaque, illo incidunt numquam obcaecati perspiciatis provident, quae quisquam
        reprehenderit temporibus totam velit vero voluptatibus! Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Blanditiis dolorum in magnam, molestias
        optio unde! Aperiam at beatae esse incidunt obcaecati pariatur porro quaerat
        rem vitae, voluptatibus! Eius, labore, praesentium. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. At atque, beatae blanditiis eaque, eos explicabo hic
        ipsam iste laudantium libero mollitia nisi nobis perspiciatis possimus reiciendis
        sed, suscipit tempore vero.
    </p>
</section>

<footer th:replace="~{layout/layout :: page_footer}"></footer>

</body>
</html>
